@model CMS_Web.ViewModels.LostPasswordModel
@{
    ViewBag.Title = "Lost Password";
}
 
<section id="loginForm">

    @using (Html.BeginForm())
    {
       @Html.AntiForgeryToken()
       @Html.ValidationSummary()
       <fieldset>
          <legend>Lost Password Form</legend>
          <ol>
             <li>
                 Enter your email address and an email will be sent to reset your password.
                 <br />
                 @Html.LabelFor(m => m.Email)
                 @Html.TextBoxFor(m => m.Email)
             </li>
          </ol>
          <input type="submit" value="Send Email" /> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  @Html.ActionLink("Back to Login", "Login")
       </fieldset>
    }
</section>