@using CMS_Web.ViewModels

@model CMS_Web.ViewModels.ExtendedPasswordModel

<section id="loginForm">
    @using (Html.BeginForm("SetUserPassword", "Account")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.userID)
        @Html.HiddenFor(m => m.passwordModel.OldPassword)

        <fieldset>
            <legend>Set Password for user : @ViewBag.UserName</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.passwordModel.NewPassword)
                    @Html.PasswordFor(m => m.passwordModel.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.passwordModel.ConfirmPassword)
                    @Html.PasswordFor(m => m.passwordModel.ConfirmPassword)
                </li>
            </ol>
        
            <input type="submit" value="Set password" />
        </fieldset>
    }
</section>
